<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}

                <h1 class="page-header">
                    Blog
                </h1>
<!--<h2>{{ _('Einträge') }}</h2>-->

	
		{% for line in entries: %}
			
			<h2><a href="/artikel/{{line['url_titel']}}">{{nl2br(line['titel']) | safe}}</a></h2>
                <p class="lead">
                   {{ _('geschrieben von:') }} {{line['geschriebenvonbenutzername']}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> {{ _('Datum:') }} {{line['datum']}}</p>
			
			<p>{{teile_text_zum_weiterlesen(nl2br(line['text']))[0] | safe}}</p>
			{%  if teile_text_zum_weiterlesen(nl2br(line['text']))[1]!='': %}
            <a class="btn btn-primary" href="/artikel/{{line['url_titel']}}">{{ _('weiterlesen ') }}<span class="glyphicon glyphicon-chevron-right"></span></a>
			
			{% endif %}
			<hr>
			
			
		{% endfor %}
<p>
	{{ _('Seiten:') }}
	{% for i in range(1,seiten+1): %}
		{% if i>1: %}
			&mdash;
		{% endif %}
		{% if seite_von/eintraege_auf_seite==i-1: %}
			{{i}}
		{% else: %}
			{% if i==1: %}
				<a href="/">{{i}}</a> 
			{% else: %}
				<a href="/seite/{{i-1}}">{{i}}</a> 
			{% endif %}
		{% endif %}
	
	{% endfor %}
</p>
{% endblock %}
