<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}

                <h1 class="page-header">
                    Blog
                </h1>

	
			
			<h2><a href="/artikel/{{entry.url_titel}}">{{nl2br(entry.titel) | safe}}</a></h2>
			<p><small>
				{{ _('geschrieben von:') }} {{entry.geschriebenvonbenutzername}}<br>
				{{ _('Datum:') }} {{entry.datum}}
			</small></p>
			<p style="text-align:justify;">{{entferne_weiterlesen_marker(nl2br(highlight_word(entry.text, highlight))) | safe}}</p>
			<hr />
			
			
<p>
	<h3>{{ _('Kommentare') }}</h3>
		
		{% for comment in kommentare: %}
	<a name="{{comment['id']}}"></a><div class="comment">
			<span class="comment_date"><a href="#{{comment['id']}}">{{comment['datum']}}</a></span><br>
			<span class="commentator_name">
				{% if comment['url']: %}
				{{link_url(comment['url']) | safe}}{{comment['url']}}'>{{comment['name']}}:</a>
				{% else: %}
				{{comment['name']}}:
				
				{% endif %}
			
			</span>
			<p>{{comment['text']}}</p>
		</div>
		{% endfor %}
		
		<hr />
		<h4><a name="kommentar_schreiben" class="nolink">{{ _('Kommentar schreiben') }}</a></h4>
		<form action="" method="post" name="edit" style="margin-left:30px;">
		    {{form.csrf_token()}}
			{{form.blogeintragid(value=blogeintragid)}}
		    <p>
		      <label>Name:<br>
		      {{form.name(size=30)}}</label><br>
		      {% for error in form.errors.name %}
		      <span style="color: red;">[{{error}}]</span>
		      {% endfor %}<br>
		      <label>E-Mail:<br>
		      {{form.email(size=30)}}</label><br>
		      {% for error in form.errors.email %}
		      <span style="color: red;">[{{error}}]</span>
		      {% endfor %}<br>
		      <label>URL:<br>
		      {{form.url(size=30)}}</label><br>
		      {% for error in form.errors.url %}
		      <span style="color: red;">[{{error}}]</span>
		      {% endfor %}<br>
		      <label>{{ _('Nachricht:') }}<br>
		      {{form.text(rows=10, cols=40, style='width:100%;')}}</label><br>
		      {% for error in form.errors.text %}
		      <span style="color: red;">[{{error}}]</span>
		      {% endfor %}<br>
		  </p>
		  <p><input type="submit" value="{{ _('abschicken') }}" name="submit"></p>
  
		</form>
		
</p>
{% endblock %}