<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}


    <ul class="add">
    <a href="/new"><li><strong style="color:blue;vertical-align:top;">{{ _('neuen Eintrag anlegen') }}</strong></li></a>
    </ul>

<h1 class="page-header">{{ _('Einträge bearbeiten') }}</h1>

{% if not id: %}

    <div class="editlist">
        
        <ul class="edit">
        	{% for line in entries: %}
           <a href="/edit/{{line['id']}}" title="Eintrag bearbeiten"> <li>
        		{% for eintrag in line:  %}
			
                    {% if eintrag == line['id']: %}

        			 {% elif eintrag == line['vorname'] or eintrag == line['name']: %}
                         {{eintrag}}

                    {% else: %}
                        <small style="color:#A0A0A0;">{{eintrag}}</small>
                    {% endif %}
			                        
        		{% endfor %} </br></br>
          </li>  </a>
            {% endfor %}
        </ul>
    </div>


{% else: %}
<p><ul class="delete">
    <a href="/delete/{{entries['id']}}" onclick="if(!confirm({{ _("'Möchtest du den Eintrag wirklich löschen?'") }})){return false;}"><li><strong style="color:red; vertical-align:top;">{{ _('Eintrag löschen') }}</strong></li></a>
</ul></p>
<form action="" method="post" name="edit" style="margin-left:30px;">
    {{form.hidden_tag()}}
    <p>
      <label>{{ _('Titel:') }}<br>
      {{form.titel(size=30, value=entries['titel'])}}</label><br>
      {% for error in form.errors.titel %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Datum:') }}<br>
      {{form.datum(size=30, value=entries['datum'])}}</label><br>
      {% for error in form.errors.datum %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Nachricht:') }}<br>
      {{form.text(cols=40, rows=10, style='width:100%;')}}</label><br>
      {% for error in form.errors.text %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('URL-Titel:') }}<br>
      {{form.url_titel(size=30, value=entries['url_titel'])}}</label><br>
      {% for error in form.errors.url_titel %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
	  
  </p>
  <p><input type="submit" value="{{ _('abschicken') }}"></p>
  
</form>


{% endif %}

{% endblock %}
