<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="/static/favicon.png">

    {% if title %}
    <title>{{title}} - Blog</title>
    {% else %}
    <title>Blog</title>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
	<!-- License & Author Details:

Apache 2.0 by Start Bootstrap 
		von: http://startbootstrap.com
		-->
		
    <link href="/static/bootstrap/css/blog-home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/bootstrap/js/jquery-1.11.0.js"></script>


<noscript>
	<style type="text/css">#tagsdiv {display:block;}</style>
</noscript>
<script>$(document).ready(function(){
  $("#button").click(function(){
    $("#tagsdiv").fadeIn("slow");
  });
});</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" {% if isactive=='blog' %}style="color:#fff"{% endif %} >Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
{% if session['username'] %} 
	<li><a {% if isactive=='profile' %}style="color:#fff"{% endif %} href="/profile">{{ _('Mein Profil') }}</a> </li>  
	<li><a {% if isactive=='new' %}style="color:#fff"{% endif %} href="/new">{{ _('Neuen Blogeintrag schreiben') }}</a></li>  
	<li><a {% if isactive=='edit' %}style="color:#fff"{% endif %} href="/edit">{{ _('Meine Blogeinträge verwalten') }}</a></li>  
	<li><a {% if isactive=='statistik' %}style="color:#fff"{% endif %} href="/statistik">{{ _('Statistik') }}</a></li>
	<li><a href="/logout">{{ _('Ausloggen') }}</a></li>
	
{% else %}   <li><a {% if isactive=='login' %}style="color:#fff"{% endif %} href="/login">{{ _('Login') }}</a> </li> <li><a {% if isactive=='register' %}style="color:#fff"{% endif %} href="/register">{{ _('Registrieren') }}</a></li>  {% endif %}                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
   
    {% for category, message in messages %}
     <ul class="{{category}}">
        <li>{{ message | safe}}</li>
         </ul>
    {% endfor %}
   
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}


                <!-- Pager 
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>-->

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


<!--<div style="display:inline;float:right;"><form class='searchform' name='search' method='get' action='/search'>{{searchform.searchfield(size=10, placeholder=_('suchen ...'))}}</form> </div>-->
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>{{_('Suche')}}</h4>
					<form class='searchform' name='search' method='get' action='/search'>
					
                    <div class="input-group">
						{{searchform.searchfield(size=30, class='form-control')}}
					
                        <!--<input type="text" class="form-control">-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
					</form>
					
                    <!-- /.input-group -->
                </div>


                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Salvete!</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>2014 &copy; Mina Habsaoui, Maria Henkel & Fabian Pegel</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
