<!DOCTYPE HTML>
<html>
<head>

	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    {% if title %}
    <title>{{title}} - Blog</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
  </head>
  <body>
	 <div id="page">
         <!-- schaue nach ob eine Session besteht, falls ja, zeige andere Links an als für nicht eingeloggte Benutzer -->
    <div>Blog: <a href="/">Start</a>
		
		 {% if session['username'] %} &mdash; <a href="/profile">Mein Profil</a> &mdash; <a href="/new">Neuen Blogeintrag schreiben</a> &mdash; <a href="/logout">Ausloggen</a>{% else %}  &mdash; <a href="/login">Login</a>  {% endif %} <div style="display:inline;float:right;"><form class='searchform' name='search' method='get' action='/search'>{{searchform.searchfield(size=10, placeholder='suchen ...')}}</form> </div>
    <hr style='margin-top:20px;'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
   
    {% for category, message in messages %}
     <ul class="{{category}}">
        <li>{{ message | safe}}</li>
         </ul>
    {% endfor %}
   
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
	</div>
  </body>
</html>