<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}

<h1>Adressbuch</h1>

<h2>Neuer Eintrag</h2>
<form action="" method="post" name="edit" style="margin-left:30px;">
    {{form.hidden_tag()}}
    <p>
      <label>Name:<br>
      {{form.name(size=30)}}</label><br>
      {% for error in form.errors.name %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>E-Mail:<br>
      {{form.email(size=30)}}</label><br>
      {% for error in form.errors.email %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>URL:<br>
      {{form.url(size=30)}}</label><br>
      {% for error in form.errors.url %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>Nachricht:<br>
      {{form.nachricht(cols=40, rows=10)}}</label><br>
      {% for error in form.errors.nachricht %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
  <p><input type="submit" value="abschicken"></p>
  
</form>

{% endblock %}
