<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}
<script>
window.addEventListener("load", update_url);
function update_url() {
	
	document.getElementById('titel').addEventListener('change', myfunc, false);
	//function(){document.getElementById('url_titel').value=document.getElementById('titel').value}
}

function myfunc() {
	
	titelinhalt = document.getElementById('titel').value.trim()
	titelinhalt = titelinhalt.replace(/ /g, "_")
	titelinhalt = titelinhalt.replace(/#/g, "_")
	titelinhalt = titelinhalt.replace(/\?/g, "_")
	titelinhalt = titelinhalt.replace(/&/g, "_")
	titelinhalt = titelinhalt.replace(/ä/g, "ae")
	titelinhalt = titelinhalt.replace(/ü/g, "ue")
	titelinhalt = titelinhalt.replace(/ö/g, "oe")
	titelinhalt = titelinhalt.replace(/ß/g, "ss")
	titelinhalt = titelinhalt.toLowerCase()
	document.getElementById('url_titel').value=titelinhalt
	
}

</script>
<h1>Blog</h1>

<h2>{{ _('Neuer Eintrag') }}</h2>
<form action="" method="post" name="edit" style="margin-left:30px;">
    {{form.hidden_tag()}}
    <p>
      <label>{{ _('Titel:') }}<br>
      {{form.titel(size=30)}}</label><br>
      {% for error in form.errors.titel %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Datum:') }}<br>
      {{form.datum(size=30, value=zeit)}}</label><br>
      {% for error in form.errors.datum %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Nachricht:') }}<br>
      {{form.text(cols=40, rows=10)}}</label><br>
      {% for error in form.errors.text %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('URL-Titel:') }}<br>
      {{form.url_titel(size=30)}}</label><br>
      {% for error in form.errors.url_titel %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
	  
  </p>
  <p><input type="submit" value="{{ _('abschicken') }}"></p>
  
</form>

{% endblock %}
