<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}

<h1>Blog</h1>



<div style="float:left;">
	<p><a href="/profile">{{ _('zurück') }}</a></p>
    <h3>{{ _('Passwort ändern') }}</h3>
    
<form action="" method="post" name="edit" style="margin-left:30px;">
    {{passwordform.hidden_tag()}}
    <p>
      <label>{{ _('Altes Passwort:') }}<br>
      {{passwordform.password_old(size=30)}}</label><br>
      {% for error in passwordform.errors.password_old %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br><br>
      <label>{{ _('Neues Passwort:') }}<br>
      {{passwordform.password1(size=30)}}</label><br>
      {% for error in passwordform.errors.password1 %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Neues Passwort bestätigen:') }}<br>
      {{passwordform.password2(size=30)}}</label><br>
      {% for error in passwordform.errors.password2 %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
    <p><input type="submit" value="{{ _('abschicken') }}"></p>
</form>
</div>

{% endblock %}