<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}

<h1>Blog</h1>

<h2>{{ _('Mein Profil') }}</h2>


<div style="float:left;">
    
<form action="" method="post" name="edit" style="margin-left:30px;">
    {{profileform.hidden_tag()}}
    <p>
      <label>{{ _('Vorname:') }}<br>
      {{profileform.vorname(size=30, value=userdata['vorname'])}}</label><br>
      {% for error in profileform.errors.vorname %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      <label>{{ _('Nachname:') }}<br>
      {{profileform.nachname(size=30, value=userdata['nachname'])}}</label><br>
      {% for error in profileform.errors.nachname %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
    <p><input type="submit" value="{{ _('abschicken') }}"></p>
	<p><a href="/password">{{ _('Passwort ändern') }}</a>
</p>
</form>
</div>

{% endblock %}