<!-- extend from base layout -->
{% extends "index.htm" %}

{% block content %}


<h1 class="page-header">{{ _('Suche') }}</h1>
{{ _('Der Begriff') }} <strong><em>{{begriff}}</em></strong> {{ _('kommt in folgenden Artikeln vor:') }}<br><br>


<ul>
		{% for line in searchentries: %}
				<li><a href="/artikel/{{line['url_titel']}}?highlight={{begriff}}">{{line['titel']}}</a></li>
		
		{% endfor %}
		{% for row in number_of_results: %}
		{% if row['anzahl']==0: %}	
				<li><strong>{{ _('Keine Einträge gefunden!') }}</strong></li>
		{% endif %}
		{% endfor %}
		
</ul>

{% endblock %}